*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.icon{
    display: none;
}
.line {
    width: 50px;
    height: 1px;
    background-color: #00e0d0;
    margin: 0 auto;
}

.wrapper{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    background: url("img/bg_header.png") no-repeat;
}
.header_top{
    width: 100%;
    display: flex;

}
.header_logo{
    margin: 15px 0 0 20.7%;
    cursor: pointer;
}
nav{
    display: flex;
    margin: 36px 0 0 18%;
}
nav a{
    color:#fff;
    padding: 0 12.5px;
}
nav a:hover{
    color: #00e0d0;
}
.header_bottom{
    color: #fff;
}
.header_bottom h1{
    margin: 165px 0 27px 0;

}
.header_bottom p{
    margin-top: 31px;
    padding-bottom: 300px;
}
.about_out_story{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 70px 0 105px 0;

}
.left_column{
    width: 15%;
    margin-right: 6.5%;
}
.right_column{
    width: 44%;
}
.about_watch{
    width: 100%;
    background: url("img/bg_watch.png") no-repeat;
    text-align: center;
}
.about_watch img{
    margin: 200px;

}
.main_expertise{
    text-align: center;

}
.main_expertise h2{
    margin-top: 70px;
}
.main_expertise p{
    margin: 20px 0;
}
.main_expertise .line{
    background: #c6c4c9;
}


